<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcq.dao.mapper.MessageMapper">
	
	<insert id="addMessage" parameterType="Message">
		<selectKey keyProperty="mid" resultType="Integer" order="BEFORE">
			select max(mid)+1 as mid from message
		</selectKey>
		insert into message values(#{Mid},#{user.Uid},null,
		#{Mcontent},now())
	</insert >
		
	<delete id="delMessage" parameterType="Message">
			delete from message where mid= #{Mid}
	</delete>
	
	<update id="updateMessage" parameterType="Message">
		update message set Mcontent=#{Mcontent}
		where mid=#{Mid}
	</update>
	
	<select id="selectMessageByMid" parameterType="Message" resultType="Message">
		select *from message where mid=#{Mid}
	</select>
	
	<select id="selectMessageByUid" parameterType="Message" resultMap="MessageMap">
		select *from message where uid=#{user.Uid} order by Mdatetime DESC
	</select>
	
	<resultMap type="Message" id="MessageMap">
		<association property="user" column="Uid" select="com.hcq.dao.mapper.UsersMapper.getMyUser"/>
	</resultMap>
	
	<!--
	<select id="selectNewMessageCount" parameterType="Message" resultType="Integer">
			select count(*) from message where uid=#{Uid}
		</select>-->
	
</mapper>
