<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcq.dao.mapper.MessageMapper">
	<cache type="com.hcq.dao.mybatis.cache.MyRedisCache" />
	
	<insert id="addMessage" parameterType="Message">
		<selectKey keyProperty="mid" resultType="Integer" order="BEFORE">
			select max(mid)+1 as mid from message
		</selectKey>
		insert into message values(#{Mid},#{user.Uid},null,
		#{Mcontent},now())
	</insert >
		
	<delete id="delMessage" parameterType="Message">
			delete from message where mid= #{Mid}
	</delete>
	
	<update id="updateMessage" parameterType="Message">
		update message set Mcontent=#{Mcontent}
		where mid=#{Mid}
	</update>
	
	<select id="selectMessageByMid" parameterType="Message" resultType="Message">
		select *from message where mid=#{Mid}
	</select>
	
	<select id="getMessageByCid" parameterType="Message" resultType="Message">
		select *from message where mid=#{Cid}
	</select>
	
	<select id="selectAllMessageByUid" parameterType="Message" resultMap="MessageMap">
		select * from message where uid in(select uider as uid from attenGroup where uid = #{user.Uid}) or uid=#{user.Uid} order by Mdatetime desc
	</select>
	
	<select id="selectMyMessageByUid" parameterType="Message" resultMap="MessageMap">
		select * from message where uid =#{user.Uid} order by Mdatetime desc
	</select>
	
	<resultMap type="Message" id="MessageMap">
		<association property="user" column="Uid" select="com.hcq.dao.mapper.UsersMapper.getMyUser"/>
	</resultMap>
	
	<insert id="reSendMessage" parameterType="Message">
		<selectKey keyProperty="mid" resultType="Integer" order="BEFORE">
			select max(mid)+1 as mid from message
		</selectKey>
		insert into message values(#{Mid},#{user.Uid},#{Cid},
		#{Mcontent},now())
	</insert >

	
</mapper>
