<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hcq.dao.mapper.UsersMapper">
	<select id="getMyUser" resultType="Users">
		select uid,Ualais,Uimage, usex,Region from user where uid=#{uid} 
	</select>
	
	<!-- 注册是提供一个功能：用户邮箱不能重复 -->
	<select id="getUserByUlogon" resultType="Users" parameterType="Users">
		select * from user where Ulogon= #{Ulogon}
	</select>
	
	<select id="getUserByLogin" resultType="Users" parameterType="Users">
		select * from user where Ulogon = #{Ulogon} and Upassword = #{Upassword}
	</select>
	
	<select id="getUser" resultType="Users" >
		select * from user where Uid=#{Uid}
	</select>
	<insert id="saveUser" parameterType="Users">
		insert into user(Uname, Ualais,Utel,Ulogon,Upassword,Region,birth,Udatetime) value
			(#{Uname},#{Ualais},#{Utel},#{Ulogon},#{Upassword},#{Region},#{birthString},now());
	<!-- 	insert into user(Uname, Ualais,Utel,Ulogon,Upassword,Region,Udatetime) value
			(#{Uname},#{Ualais},#{Utel},#{Ulogon},#{Upassword},#{Region},now()); -->
	</insert>
	
	<update id="updateUser" parameterType="Users">
		update user <include refid="conditionSql" />
	</update>
	
	<sql id="conditionSql">
		<set>
			<if test="Ualais != null and Ualais !=''">
				Ualais = #{Ualais}
			</if>
			
				<if test="Ulogon != null and Ulogon !=''">
					,Ulogon=#{Ulogon}
				</if>
			<if test="Region != null and Region !=''">
					,Region=#{Region}
				</if>
			
			<if test="Usex != null and Usex !=''">
					,Usex = #{Usex}
				</if>
			<if test="Uinfo != null and Uinfo !=''">
					,Uinfo=#{Uinfo}
				</if>
			<if test="Uprivacy == true or Uprivacy ==false">
					,Uprivacy = #{Uprivacy}
				</if>
			
		</set>
		where Uid=#{Uid}
	</sql>

	<update id="updateUser2" parameterType="Users">
		update user  set Utel = #{Utel} where  Uid=#{Uid}
	</update>
	
	<update id="updateUserImage" parameterType="Users">
		update user  set Uimage = #{Uimage} where  Uid=#{Uid}
	</update>
	
	
	<update id="updatePwd" parameterType="Users">
		update user  set Upassword = #{password} where  Uid=#{Uid}
	</update>
</mapper>
